
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

*{
    font-family: Mulish;
}
body{
    margin: 0;
    padding: 0 0 0 0;
}
.primaryColor{
    color: #FF5400;
}
header{
    display: flex;
    justify-content: space-between;
    padding:0 10%;
    align-items: center;
}
.name{
    color: #131318;
    font-family: Mulish;
    font-size: 30px;
    font-weight: 800;
    display: flex;
    text-wrap: nowrap;
    align-items: center;
}
.name img{
    height: 60px;
    width: 60px;
    margin-right: 10px;
}
nav a{
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-left: 1.5em;
}
nav img{
    display: none;
}

.banner{
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url("images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 3% 10%;
    color: #FFF;
    padding: 3% 10%;
}
.banner h1{
    font-size: 64px;
    font-weight: 800;
}


input,select{
    width: 174px;
    height: 50px;
    border: 0;
    outline: 0;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    padding-left: 10px ;
}
.select{
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.30);
    border-radius: 8px;
    padding:1.1em;
    gap: 20px;
    width: fit-content;
    height: fit-content;
    margin: 50px auto;

}
.findNow img{
    height: 25px;
    margin-right: 10px;
}
.findNow {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: 0;
    

       
}
.findNow h3{
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    display: inline;
}
.findNow div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.customPadding{
    padding-left: 30px;
}
.popularTours{
    display: flex;
    gap: 3.31em;
    padding: 10%;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    align-items: center;
}
.popularTours h2{
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    color: #131318;
    margin-top: 0;
}

.primaryButton {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: 0;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    

       
}
.destination{
    padding:0 10%;
    text-align: center;
    margin-bottom: 50px;
}
.destination h1{
    font-size: 2.5rem;
    font-weight: 800;
}

.image-container{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

    margin: 0 auto;
}
.overlayText {
    position: relative;
    bottom: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    font-family: "Borel", cursive;
    font-size: 24px; 
    font-weight: bold; 
    text-align: center;
    width: 100%;
    height: 0;
    box-sizing: border-box;
  }
.choose{
    margin-top: 1050px;
}
.choosetext{
    text-align: center;
}
.choosetext h1{
    font-size: 2.5rem;
    font-weight: 800;
}
.choosecard{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
}
.card1{
    border-radius: 1rem;
    padding: 15px;
    width: 35.8125rem;
    
}
.card1 img{
    height: 4rem;
    width: 4rem;
}
#hotel{
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);    
}
#service{
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
#price{
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
.card-container{
    border-radius: 1rem;
    width: 73.125rem;
    height: 31.25rem;
    display: flex;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.deals{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.dealsText{
    text-align: center;
    padding: 0 10%;
}
.dealsText h1{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
.card{
    border-radius: 1rem;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding:15px 45px;
    width: 36.1875rem;
    height: 24.3125rem;
    margin: 35px;

}
.card h2{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}
.card h3{
    color: #FF5400;
    font-size: 1.25rem;
    font-weight: 800;
}
.icontext{
    display: flex;
    align-items: center;

}
.icontext p{
    display: inline;
}
.icontext img{
    color: #FF5400;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 10px;
}
.icontextholder{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
#first,#third{
    background: url("images/Group\ 39.png"), lightgray 50% ;
    justify-content: end;
}
#second{
    background: url("images/Group\ 40.png"), lightgray 50% ;
    justify-content: start;
}
.list li{
    color: #131318;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.625rem;
}
.peace{
    line-height: 45px;
    
}
.video{
    width: 38.125rem;
    border-radius: 10px;
}
.news{
    display: flex;
    gap: 30px;
    justify-content: center;
    
}
.newsletter{
    border-radius: 1rem;
    border: 1px solid #FF5400;
    padding: 30px;
    height: 23.375rem;

}
.newsletter h2{
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    color: #131318;
    margin-top: 0;
}
.newsform{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    

}
.newsform input{
    display: block;
    width: 24.5625rem;;
    border-radius: 0.5rem;
    background: rgba(19, 19, 24, 0.05);
}
.newsform button{
    width:24.5625rem;
}
hr{
    color: #424247;
    margin: 25px 0;
}
.sticker{
    width: 40%;
    border-radius: 8px;
    background: #FF5400;
    height: 20%;
    text-align: center;
    padding-top: 20px;
    position: relative;
    left: 58.5%;
    bottom: 31%;
    transform: rotate(-20deg);
    

}
.sticker h3{
    margin-top: 0;
    color: #FFF;
    font-size: 2rem;
    font-weight: 800;
}
.sticker h4{
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0;
}
footer img{
    height: 50px;
    width: 50px;
    margin-right: 20px;
    border-radius: 10px;

}
footer{
    text-align: center;
    background: rgba(19, 19, 24, 0.05);
    padding: 50px 0px;
}
footer h2{
    margin-left: 10px;
    font-size: 2rem;
    font-weight: 800;
}
.footerhead{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
footer hr{
    width: 75%;
    margin: 20px auto ;
}

